[Unit]
Description=Temperature Log Service

[Service]
Type=oneshot
ExecStart=/srv/proto_temp/script-files/log-temp.py

[Install]
WantedBy=default.target
